<div>
  <mat-form-field class="full-width">
    <input autofocus matInput placeholder="Search by League or Season Name" [(ngModel)]="filter">
  </mat-form-field>
</div>

<mat-list>
  <mat-list-item *ngFor="let competition of competitions; let i=index">
    <a routerLink="/competitions/{{competition.id}}" routerLinkActive="active">
      {{competition.league?.name}} {{competition.season?.name}}</a>

    <a *ngIf="authenticated" mat-button mat-raised-button (click)="crawlCompetition(competition)">Crawl Competition</a>
  </mat-list-item>
</mat-list>
