<mat-toolbar color="accent" class="content-header">
  <img src="{{game?.host?.team.logo}}" alt="{{game?.host?.team.name}}" title="{{game?.host?.team.name}}"
       class="team-logo">
  <h1 class="page-header">
    <a mat-button routerLink="/teams/{{game?.host?.team.id}}">&nbsp;{{game?.host?.team.name}}</a>
  </h1>
  <h1 class="page-header">
    <span class="score-box" *ngIf="game?.host?.score || game?.host?.score == 0">{{ game?.host?.score }}</span>
    <span>&nbsp;vs&nbsp;</span>
    <span class="score-box" *ngIf="game?.guest?.score || game?.guest?.score == 0">{{ game?.guest?.score }}</span>
  </h1>
  <h1 class="page-header">
    <a mat-button routerLink="/teams/{{game?.guest?.team.id}}">{{game?.guest?.team.name}}&nbsp;</a>
  </h1>
  <img src="{{game?.guest?.team.logo}}" alt="{{game?.guest?.team.name}}" title="{{game?.guest?.team.name}}"
       class="team-logo">

</mat-toolbar>

<mat-list>

  <mat-divider></mat-divider>

  <mat-list-item>
    <i class="material-icons">
      access_time
    </i>
    <span> {{game?.date | date:"dd.MM.yyyy',' HH:mm"}}</span>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>
    <i class="material-icons">
      location_on
    </i>
    <a routerLink="/venues/{{game?.venue?.id}}">{{game?.venue?.name}}</a>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <i class="material-icons">

    </i>
    <span>Score: </span>
    <span>{{ game?.host?.score }}</span> :
    <span>{{ game?.guest?.score }}</span>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <i class="material-icons">

    </i>
    <span>Tries: </span>
    <span>{{ game?.host?.tries }}</span> :
    <span>{{ game?.guest?.tries }}</span>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <i class="material-icons">
      class
    </i>
    <span>Red Cards: </span>
    <span *ngIf="game?.host?.redCards">{{game?.host?.team.name}} ({{game?.host?.redCards}})</span>
    <span *ngIf="game?.guest?.redCards">{{game?.guest?.team.name}} ({{game?.guest?.redCards}})</span>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <i class="material-icons">
      outlined_flag
    </i>
    <span>Forfait: </span>
    <span *ngIf="game?.host?.forfait">{{ game?.host?.team.name }}</span>
    <span *ngIf="game?.guest?.forfait">{{ game?.guest?.team.name }}</span>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <i class="material-icons">
      <i class="material-icons">
        person
      </i>
    </i>
    <span>Referee: {{game?.referee}}</span>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item>
    <i class="material-icons">
      insert_link
    </i>
    <span><a href="{{game?.fsrUrl}}" target="_blank">View game on suisserugby.com</a></span>
  </mat-list-item>
  <mat-divider></mat-divider>

  <mat-list-item *ngIf="authenticated">
    <button (click)="startCrawler()" mat-raised-button>Crawl Game Details</button>
  </mat-list-item>


</mat-list>
