<mat-toolbar color="accent" class="content-header">
    <h1>
      {{league?.name}}
    </h1>
</mat-toolbar>


<!--<div fxLayout="row" fxLayoutWrap fxLayoutAlign="start stretch">

  <div fxFlex="auto">
    <mat-card>

      <mat-card-header>
        <mat-card-title>Statistics</mat-card-title>
        <mat-card-subtitle>Games</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div>
          <canvas id="myChart" width="400" height="400" style="max-width: 500px"></canvas>
        </div>

        <table *ngIf="league" class="team-statistics">
          <tr>
            <td>Number of Games</td>
            <td>{{ league.game_count }}</td>
          </tr>
          <tr>
            <td>Number of Wins</td>
            <td>{{ league.win_count }}</td>
          </tr>
          <tr>
            <td>Nubmer of Losses</td>
            <td>{{ league.loss_count }}</td>
          </tr>
          <tr>
            <td>Number of Draws</td>
            <td>{{ league.draw_count }}</td>
          </tr>
        </table>

      </mat-card-content>


    </mat-card>
  </div>

  <div fxFlex="auto">
    <mat-card>

      <mat-card-header>
        <mat-card-title>Statistics</mat-card-title>
        <mat-card-subtitle>Points</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div>
          <canvas id="myChart2" width="400" height="400" style="max-width: 500px"></canvas>
        </div>

        <table *ngIf="league" class="team-statistics">
          <tr>
            <td>League Points</td>
            <td>{{ league.point_count }}</td>
          </tr>
          <tr>
            <td>Score Points</td>
            <td>{{ league.score_count }}</td>
          </tr>
          <tr>
            <td>Try Count</td>
            <td>{{ league.try_count }}</td>
          </tr>
          <tr>
            <td>Red Cards</td>
            <td>{{ league.card_count }}</td>
          </tr>
        </table>

      </mat-card-content>


    </mat-card>
  </div>

  <div fxFlex="auto">
    <mat-card>

      <mat-card-header>
        <mat-card-title>Games</mat-card-title>
        <mat-card-subtitle>Next Game</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div *ngIf="league?.nextGame">
          <p>
            {{ league.nextGame.date | date:'dd.MM.yyyy' }} - <a routerLink="/games/{{ league?.nextGame?.id }}">{{
            league?.nextGame?.host.team.name }} vs {{ league?.nextGame?.guest.team.name }}</a>
          </p>
        </div>

      </mat-card-content>


    </mat-card>
  </div>

  <div fxFlex="auto">
    <mat-card>

      <mat-card-header>
        <mat-card-title>Games</mat-card-title>
        <mat-card-subtitle>Last Game</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content>

        <div *ngIf="league?.lastGame">
          <p>
            {{ league?.lastGame.date | date:'dd.MM.yyyy' }} - <a routerLink="/games/{{ league?.lastGame.id }}">{{
            league?.lastGame.host.team.name }} vs {{ league?.lastGame.guest.team.name }}</a>
            <span *ngIf="league?.lastGame.host.score >= 0">- ({{ league?.lastGame.host.score}} : {{ league?.lastGame.guest.score }})</span>
          </p>
        </div>

      </mat-card-content>


    </mat-card>
  </div>
</div>-->
