
<mat-form-field class="example-full-width">
  <input matInput placeholder="Filter" [(ngModel)]="filter">
</mat-form-field>

<mat-list>
  <mat-list-item *ngFor="let team of teams; let i=index">
    <img src="{{ team.logo }}" class="team-list-logo">
    <a routerLink="/teams/{{team.id}}" routerLinkActive="active">{{team.name}}</a>
    <!--<mat-card >
      <mat-card-header>
        <div mat-card-avatar style="background: url('{{ team.fsr_logo }}')"></div>
        <mat-card-title>
          <a routerLink="/teams/{{team.id}}" routerLinkActive="active">{{team.name}}</a>
        </mat-card-title>
      </mat-card-header>
    </mat-card>-->

  </mat-list-item>
</mat-list>




