<mat-toolbar color="primary">
  <nav>
    <a mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </a>
    <button mat-button routerLink="/">
      <h1>
        {{title}}
      </h1>
    </button>
  </nav>

</mat-toolbar>


<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <mat-list>
      <mat-list-item (click)="sidenav.close()">
        <a mat-button routerLink="/account" routerLinkActive="active"><mat-icon>account-circle</mat-icon> Log In / Sign Up</a>
      </mat-list-item>
      <mat-list-item (click)="sidenav.close()">
        <a mat-button routerLink="/clubs" routerLinkActive="active">Clubs</a>
      </mat-list-item>
      <mat-list-item (click)="sidenav.close()">
        <a mat-button routerLink="/teams" routerLinkActive="active">Teams</a>
      </mat-list-item>
      <mat-list-item (click)="sidenav.close()">
            <a mat-button routerLink="/games" routerLinkActive="active">Games</a>
      </mat-list-item>
      <mat-list-item (click)="sidenav.close()">
            <a mat-button href="https://www.google.com/maps/d/viewer?mid=1fiHdiZoyELiYbw1wOUuJ9OFh6hY&hl=en_US&ll=46.851384622677664%2C7.474309743347135&z=7" target="_blank">Club Map</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <main>
    <router-outlet></router-outlet>
  </main>

</mat-sidenav-container>

