<mat-toolbar color="primary">
  <nav>
    <button mat-button>
      <h1>
        {{title}}
      </h1>
    </button>
    <a mat-button routerLink="/teams" routerLinkActive="active">Teams</a>
    <a mat-button routerLink="/clubs" routerLinkActive="active">Clubs</a>
    <a mat-button routerLink="/games" routerLinkActive="active">Games</a>
  </nav>

</mat-toolbar>

<!--<nav class="header primary-nav">
  <ul>
    <li><a routerLink="/teams" routerLinkActive="active">Teams</a></li>
    <li><a routerLink="/clubs" routerLinkActive="active">Clubs</a></li>
    <li><a routerLink="/games" routerLinkActive="active">Games</a></li>
  </ul>
</nav>-->



<router-outlet></router-outlet>


