<mat-toolbar color="primary">
  <nav>
    <!--<a mat-icon-button (click)="sidenav.toggle()">-->
    <!--<mat-icon>menu</mat-icon>-->
    <!--</a>-->
    <button mat-button routerLink="/">
      <h1>
        {{title}}
      </h1>
    </button>
  </nav>

</mat-toolbar>

<mat-toolbar color="secondary">
  <nav>
    <a mat-button routerLink="/leagues" routerLinkActive="active">Leagues</a>
    <a mat-button routerLink="/teams" routerLinkActive="active">Teams</a>
    <a mat-button routerLink="/clubs" routerLinkActive="active">Clubs</a>
    <!--<a mat-button routerLink="/games" routerLinkActive="active">Games</a>-->
    <a mat-button routerLink="/map" routerLinkActive="active">Club Map</a>

    <a mat-button routerLink="/account" routerLinkActive="active">
      <mat-icon>account_circle</mat-icon>
      Log In / Sign Up</a>
  </nav>

</mat-toolbar>


<mat-sidenav-container>

  <mat-sidenav #sidenav>
    <mat-list>
      <mat-list-item (click)="sidenav.close()">
        <a mat-button routerLink="/account" routerLinkActive="active">
          <mat-icon>account-circle</mat-icon>
          Log In / Sign Up</a>
      </mat-list-item>
      <mat-list-item (click)="sidenav.close()">
        <a mat-button routerLink="/leagues" routerLinkActive="active">Leagues</a>
      </mat-list-item>
      <mat-list-item (click)="sidenav.close()">
        <a mat-button routerLink="/teams" routerLinkActive="active">Teams</a>
      </mat-list-item>
      <mat-list-item (click)="sidenav.close()">
        <a mat-button routerLink="/clubs" routerLinkActive="active">Clubs</a>
      </mat-list-item>
      <!--<mat-list-item (click)="sidenav.close()">
            <a mat-button routerLink="/games" routerLinkActive="active">Games</a>
      </mat-list-item>-->
      <mat-list-item (click)="sidenav.close()">
        <a mat-button routerLink="/map" routerLinkActive="active">Club Map</a>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <main>
    <router-outlet></router-outlet>
  </main>

</mat-sidenav-container>

