<mat-toolbar color="accent" class="content-header">
    <img src="{{team?.logo}}" title="{{team?.name}}" alt="{{team?.name}}" class="team-logo"/>
    <h1>
      {{team?.name}}
    </h1>
</mat-toolbar>

<mat-tab-group>

  <mat-tab label="Statistics">
    <div fxLayout="row" fxLayoutWrap fxLayoutAlign="start stretch">

      <!-- Statistics : Games -->
      <div fxFlex="auto">
        <mat-card>

          <mat-card-header>
            <mat-card-title>Statistics</mat-card-title>
            <mat-card-subtitle>Games</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

            <div>
              <canvas id="myChart" width="400" height="400" style="max-width: 500px"></canvas>
            </div>

            <table *ngIf="team" class="team-statistics">
              <tr>
                <td>Number of Games</td>
                <td>{{ team.game_count }}</td>
              </tr>
              <tr>
                <td>Number of Wins</td>
                <td>{{ team.win_count }}</td>
              </tr>
              <tr>
                <td>Nubmer of Losses</td>
                <td>{{ team.loss_count }}</td>
              </tr>
              <tr>
                <td>Number of Draws</td>
                <td>{{ team.draw_count }}</td>
              </tr>
            </table>

          </mat-card-content>


        </mat-card>
      </div>

      <!-- Statistics : Points -->
      <div fxFlex="auto">
        <mat-card>

          <mat-card-header>
            <mat-card-title>Statistics</mat-card-title>
            <mat-card-subtitle>Points</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

            <div>
              <canvas id="myChart2" width="400" height="400" style="max-width: 500px"></canvas>
            </div>

            <table *ngIf="team" class="team-statistics">
              <tr>
                <td>League Points</td>
                <td>{{ team.point_count }}</td>
              </tr>
              <tr>
                <td>Score Points</td>
                <td>{{ team.score_count }}</td>
              </tr>
              <tr>
                <td>Try Count</td>
                <td>{{ team.try_count }}</td>
              </tr>
              <tr>
                <td>Red Cards</td>
                <td>{{ team.card_count }}</td>
              </tr>
            </table>

          </mat-card-content>


        </mat-card>
      </div>

      <!-- Games : Next -->
      <div fxFlex="auto">
        <mat-card>

          <mat-card-header>
            <mat-card-title>Games</mat-card-title>
            <mat-card-subtitle>Next Game</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

            <div class="srs-last_game" data-teamid="5">
              <div>
                <img src="{{team?.nextGame?.host.team.logo}}" style="max-height: 50px;"> - <img src="{{team?.nextGame?.guest.team.logo}}" style="max-height: 50px;">
              </div>
              <div class="srs-last_game srs-teamRow">
                <a routerLink="/games/{{ team?.nextGame?.id }}">{{ team?.nextGame?.host.team.name }} vs {{ team?.nextGame?.guest.team.name }}</a>
              </div>
              <div>{{ team?.nextGame?.date | date:'dd.MM.yyyy' }}</div>
            </div>

          </mat-card-content>


        </mat-card>
      </div>

      <!-- Games : Last -->
      <div fxFlex="auto">
        <mat-card>

          <mat-card-header>
            <mat-card-title>Games</mat-card-title>
            <mat-card-subtitle>Last Game</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>

            <div class="srs-last_game" data-teamid="5">
              <div>
                <img src="{{team?.lastGame?.host.team.logo}}" style="max-height: 50px;">{{ team?.lastGame?.host.score}} - {{ team?.lastGame?.guest.score }} <img src="{{team?.lastGame?.guest.team.logo}}" style="max-height: 50px;">
              </div>
              <div class="srs-last_game srs-teamRow">
                <a routerLink="/games/{{ team?.lastGame?.id }}">{{ team?.lastGame?.host.team.name }} vs {{ team?.lastGame?.guest.team.name }}</a>
              </div>
              <div>{{ team?.lastGame?.date | date:'dd.MM.yyyy' }}</div>
            </div>

          </mat-card-content>


        </mat-card>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Games">
    <srs-games [games]="games">

    </srs-games>
  </mat-tab>
  <mat-tab label="Players"></mat-tab>
  <mat-tab label="For your Website">
    <h2>Integrate Swiss Rugby Stats into your own Website</h2>
    <p>Are you the webmaster of a Swiss Rugby Club and tired of managing game fixtures and results but you still want to have all the information on your website?</p>
    <p>With the Swiss Rugby Stats JavaScript widgets, it is very easy to integrate current data about your club like the next game, the last results or the schedule of the current season on your own website.</p>

    <h2>1. Include the SRS Widget JavaScript</h2>
    <p>All our widgets are powered by one small JavaScript File.</p>
    <p>In order to enable the widgets for your site, you need to add the following line of code in the <code>&lt;head&gt;</code> of your website.</p>
    <textarea class="code-snippet" readonly="readonly"><script type='text/javascript' src='http://swissrugbystats.ch/lib/srs-widgets.js'></script></textarea>

    <h2>Available Widgets</h2>
    <h3>Next Game</h3>
    <textarea class="code-snippet" readonly="readonly">
      <div class="srs-next_game" data-teamid="5">
        Loading next game...
    </div>
    </textarea>
    <h3>Last Game</h3>
    <textarea class="code-snippet" readonly="readonly">
      <div class="srs-last_game" data-teamid="5">
        Loading last game...
    </div>
    </textarea>
    <h3>Game Schedule</h3>
    <textarea class="code-snippet" readonly="readonly">
        <div class="srs-schedule" data-teamid="5" data-seasonid="1">
          Loading Game Schedule...
        </div>
    </textarea>

    <h2>Examples</h2>
    <p>Check out this Plunker to play around with the widgets: <a href="http://plnkr.co/edit/yS1mth10gOeU8Wq8vaMX?p=preview" target="_blank">Swiss Rugby Stats Examples on Plunker</a></p>
  </mat-tab>

</mat-tab-group>
